<img src="~/images/herobanner_short.jpg" class="hero-banner" />

<div class="widget hero-separator" style="opacity: 1;">
    <div class="separator-control sticky">
        <div class="diamond">
            <div class="arrow"></div>
        </div>
    </div>
</div>

<h1>User Guide</h1>
<div>Click on an amp control to find out more</div>